*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}

/* --------------------- */

.list{
  margin: 50px 0 0 30%;
}

.list li:hover::before{
  content: url('/homework-5/check\ icon\ \(1\).png');
}

.list li:hover{
  color: red;
}



.list li{
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 20px;
  color: #273d46;
  line-height: 30px;
}

.list li::before{
  content: url('/homework-4/check\ icon.png');
  padding-right: 15px;
}

.list li:first-child{
  text-decoration: line-through;
}

.list li:nth-child(2) {
  font-weight: 700;
}

.list li:nth-child(3) {
  font-style: italic;
}

.list li:last-child{
  text-transform: uppercase;
}

.text-input {
  display: block;
  border: 1px solid #666;
  height: 50px;
  padding: 0px 15px;
  width: 300px;
  font-size: 18px;
  margin: 70px 0 10px 30%;
}

.first-btn{
  text-transform: uppercase;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 14px;
  color: #fff;
  letter-spacing: 3px;
  border-radius: 20px;
  background: #80b7b3  no-repeat 88% 20px;
  padding: 20px;
  margin: 70px 0 0 30%;
  width: 190px;
  height: 52px;
  text-align: left;
  box-shadow: -2px 5px 50px 0px #80b7b3;
}

.first-btn::after{
  content: url('/homework-4/Shape\ 2.png');
  padding-left: 10px;
}

.first-btn:hover{
  background-color: #3a5855;
  box-shadow: none;
}

.first-btn:active{
  background-color: #818181;
  box-shadow: none;
}

.first-p{
  font-weight: 500;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 18px;
  margin: 50px 35% 0 24%;
  line-height: 30px;
}

.first-p::first-line{
  color: red;
}

.sec-p{
  font-weight: 500;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 18px;
  margin: 50px 35% 0 24%;
  line-height: 30px;
}

.sec-p::first-letter{
  font-size: 25px;
  color: red;
}